<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Ansible Server</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <!-- Titulo de la página-->

<div class="contenido">
    <h1>Manage your Ansible Server v17</h1>  
</div>
	
    <!--En esta sección creo un menú donde hace referencia a las páginas de flask en python-->

<div class="menu">
    <a href="/iapache/">Instalar Apache</a>
    <a href="/papache/">Desinstalar Apache</a>
    <a href="/rapache/">Reiniciar Servicio</a>
    <a href="/poweroff/">Shutdown Machine</a>
</div>

<div class="background">

    <ul class="circulos">
       <li></li>
       <li></li>
       <li></li>
       <li></li>
       <li></li>
       <li></li>
       <li></li>
       <li></li>
       <li></li>
       <li></li>
    </ul>
 </div>
</body>
</html>
