<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Ansible Server</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div>
    <div>
        <div>
            <h1>Manage your Ansible Server v17</h1>
        </div>		
    </div>
	
    <!--En esta sección creo un menú donde hace referencia a las páginas de flask en python-->

    <div>
		<div>
			<a href="/update/">Update Machine</a>
            <a href="/list/">List files</a>
            <a href="/poweroff/">Shutdown Machine</a>
            <a href="/ping/">Ping to machine</a>
		</div>
    </div>
</div>

</body>
</html>
