a {
    background-color: #a0ff33;
    color: black;
    padding: 15px 25px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
body {
   background-image: url("background.png");
   background-size: cover;
}
.context {
  width: 50%;
  position: absolute;
  top: 194px;
}
.context h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 4px;
  font-family: 'Untitled Serif';
  line-height: 98px;
  font-size: 70px;
  font-weight: 500;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

}
.test {
  position: absolute;
  margin-left: 30%;
  margin-top: 20%;
}