astroid==2.3.3
attrs==19.3.0
Automat==0.8.0
blinker==1.6.2
cached-property==1.5.1
certifi==2022.12.07
chardet==3.0.4
cffi==1.15.1
colorama==0.4.3
constantly==15.1.0
distro==1.4.0
docker==4.1.0
docker-compose==1.25.0
dockerpty==0.4.1
encode==0.0.0
entrypoints==0.3
Flask==2.2.5
Jinja2==3.0.3
jsons==1.6.3
itsdangerous==2.0.1
pexpect==4.8.0
sos==0.24.0
ssh-import-id==5.10